
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    
  /* BACKGROUNDS */
  --bg-base: #3D3C3C;
  --bg-surface: #474646;
  --bg-elevated: #505050;

  /* TEXT */
  --text-primary: #E5E7EB;
  --text-secondary: #A3AAB6;
  --text-muted: #6B7280;

  /* BORDERS */
  --border-subtle: #5A5A5A;
  --border-default: #6B6B6B;

  /* BUTTON SYSTEM */
  --btn-default-bg: #505050;
  --btn-default-hover: #5A5A5A;
  --btn-default-active: #666666;

  --btn-ghost-hover: #474646;

  /* PRIMARY (USE SPARINGLY) */
  --color-primary: #4A4AFF;
  --color-primary-hover: #3F3FFF;
  --color-primary-active: #3535D6;

  /* STATUS */
  --status-success: #22C55E;
  --status-warning: #F59E0B;
  --status-danger: #EF4444;
  --status-info: #06B6D4;
  --status-neutral: #64748B;



}