
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    --bg-base: #0B0F14;
    --bg-surface: #111827;
    --bg-elevated: #1A2230;

    --text-primary: #E5E7EB;
    --text-secondary: #A3AAB6;
    --text-muted: #6B7280;

    --border-subtle: #1F2937;
    --border-default: #243041;

    --color-primary: #3B82F6;
    --color-primary-hover: #2563EB;
    --color-primary-active: #1D4ED8;

    --status-success: #22C55E;
    --status-warning: #F59E0B;
    --status-danger: #EF4444;
    --status-info: #06B6D4;
    --status-neutral: #64748B;


}